/* red #E18256 rgb(225, 130, 86) */
/* olive #98A98F rgb(152, 169, 143) */
/* blue #66ADA9 rgb(102, 173, 169) */
/* light olive #B7B590 rgb(183, 181, 144) */

body {
	/*background-color: white;*/
	background-color: #191E1B;
	color: white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	/*overflow: hidden;*/
	margin: 0;
	padding: 0;
	font-size: 18px;
}

section:first-child {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

section:nth-child(2) {
	display: block;
	/*width: 100%;*/
	background: #98A98F;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
	color: #191E1B;
	background-image: linear-gradient(-45deg, #98A98F, #B7B590);
}

section:nth-child(2) img {
	width: 10%;
}

section:nth-child(3) {
	display: block;
	width: 100%;
	background-color: #191E1B;
	background-image: radial-gradient(circle at 25% 20%, rgba(152, 169, 143, 0.15) 0%, transparent 60%);
	text-align: center;
	padding-top: 10vh;
	padding-bottom: 10vh;
	overflow: auto;
}

h1 {
	color: #1A1D1A;
	font-size: 3em;
	text-transform: uppercase;
}

sup {
	font-size: 0.5em;
}

p {
	font-size: 2em;
}

section:nth-child(3) > div {
	display: block;
	width: 45%;
	float: left;
	padding-left: 5%;
	padding-right: 5%;
}

section:nth-child(3) > div:last-child {
	width: 35%;
}

#logo-type {
	position: relative;
	width: 33.333%;
	top: 45%;
	left: 50%;
	overflow: visible;
	transform: translate(-50%, -50%);
	z-index: 1;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

li {
	position: relative;
	counter-increment: li;
	margin-bottom: 40px;
	font-size: 1.2em;
	padding-left: 20px;
	max-width: 75%;
}

li:before {
	position: absolute;
	left: -50px;
	top: -10px;
	display: inline-block;
	content: counter(li);
	color: #191E1B;
	background: #E3BC3D;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 1.6em;
	text-align: center;
	line-height: 50px;
	font-weight: 500;
}

i {
	color: #E3BC3D;
	font-style: normal;
}

.logo {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translate3d(0, 0, 0);
	transition: all 2s ease;
	z-index: 1000;
}

.logo.in {
	transform: translate3d(0, -30%, 0);
}

.logo a {
	opacity: 0;
	transition: opacity 500ms 750ms ease;
}

.logo.in a {
	opacity: 1;
}

#logo-type path {
	fill: none;
	stroke: none;
}

#logo-type circle {
	/*fill: black;*/
	fill: #2A90B0;
	transform-origin: center;
	transform-box: fill-box;
	transform: rotate(45deg) scale(0, 20);
	transition: transform 4s cubic-bezier(0.680, -0.550, 0.265, 1.0), fill 5s;
}

#logo-type circle.in {
	fill: #E3BC3D;
	transform: rotate(-120deg) scale(1, -1);
}

button {
	position: absolute;
	bottom: 30px;
	right: 30px;
	padding: 15px;
	font-size: 18px;
}

form {
	position: absolute;
	bottom: 30px;
	left: 30px;
}

.form-control {
	display: inline-block;
}

input {
	width: 100px;
	padding: 15px;
	font-size: 18px;
}

label {
	display: block;
}

.hidden {
	display: none;
}

.background-highlight {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: radial-gradient(circle at 50% 80%, rgba(152, 169, 143, 0.15) 0%, transparent 60%);
	transform: translateY(10%);
	transition: all 2s 1s cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.background-highlight.in {
	opacity: 1;
	transform: none;
}

.klang-mockup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.klang-mockup img {
	display: block;
	position: absolute;
	bottom: -9%;
	left: 50%;
	height: 75%;
	opacity: 0;
	transform: translate3d(-50%, 50%, 0);
	transition: all 10s cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.klang-mockup.in img {
	opacity: 1;
	transform: translate3d(-50%, 0, 0);
}

a {
	color: #191E1B;
}

section:nth-child(1) a {
	position: absolute;
	bottom: 45%;
	left: 50%;
	text-align: center;
	font-size: 2vh;
	text-decoration: none;
	color: #E3BC3D;
	letter-spacing: 1px;
	font-weight: 300;
	text-transform: uppercase;
	z-index: 1000;
	transform: translate(-50%, 0);
}

section:nth-child(1) a span {
	position: relative;
	top: 0.25vh;
	font-size: 3vh;
}

section:nth-child(1) a:hover,
section:nth-child(1) a:focus,
section:nth-child(1) a:visited,
section:nth-child(1) a:active {
	text-decoration: none;
	color: #E3BC3D;
}

@media (orientation: portrait) {
	#logo-type svg {
		position: relative;
		width: 60%;
		top: 45%;
		left: 50%;
		overflow: visible;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	section:nth-child(3) > div {
		display: block;
		width: 80%;
		float: left;
		padding-left: 10%;
		padding-right: 10%;
		margin-bottom: 10vw;
	}

	section:nth-child(3) > div:last-child {
		width: 80%;
	}

	ul {
		width: 75%;
		margin-left: 12.5%;
	}

	li {
		max-width: none;
	}
}